@use "../../sass/mixins" as m;
@use "../../sass/variables" as v;

.container {
  @include m.data-user-container;

  div {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  input {
    @include m.number-input;
    font-size: inherit;
  }

  label {
    font-style: italic;
    &::first-letter {
      text-transform: uppercase;
    }
  }
}
