@use "../../sass/mixins" as m;
@use "../../sass/variables" as v;

.mainContainer {
  min-height: 100vh;
  padding: 20px;
  color: v.$main-color;

  .appWrapper {
    @include m.transparent;
    margin: auto;
    border-radius: 5px;
    box-shadow: v.$main-shadow;
    max-width: 790px;
    padding: 0 10px;
  }

  h1 {
    text-align: center;
    font-weight: 600;
    font-size: 1.6em;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-top: 20px;
    margin-bottom: 20px;
  }
}
