@use "../../sass/mixins" as m;
@use "../../sass/variables" as v;

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  color: v.$main-color;

  .appWrapper {
    @include m.transparent;
    border-radius: 5px;
    box-shadow: v.$main-shadow;
    max-width: 790px;
    padding: 0 10px;
  }

  header {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
    img {
      height: 1.6em;
      filter: invert(1);
    }
    h1 {
      text-align: center;
      font-weight: 600;
      font-size: 1.6em;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
  }
}
