@use "../../sass/mixins" as m;
@use "../../sass/variables" as v;

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 100px;
  max-width: 150px;
  aspect-ratio: 1/1;
  @include m.border();

  .front,
  .back {
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15%;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 1s ease-in-out, font-size 0ms;
    border-radius: 5px;
    padding: 10px;
    &.hidden {
      opacity: 0;
      a {
        display: none;
      }
    }
  }

  .front {
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    h2 {
      font-size: 2em;
    }
    p {
      margin-top: 10px;
      font-size: 2em;
    }
  }

  .back {
    color: black;
    background-color: rgba(255, 255, 255, 0.7);
    h3 {
      font-size: 1.5em;
    }
    p {
      font-size: 1.1em;
      line-height: 1.2;
    }
    a {
      display: block;
      position: absolute;
      text-decoration: none;
      color: v.$secondary-color;
      bottom: 10px;
      right: 15px;
      font-size: 1.2em;
      &:hover {
        transform: scale(1.2);
      }
      &:active {
        transform: scale(0.8);
      }
    }
  }

  button {
    position: absolute;
    bottom: 2px;
    z-index: 1;
    transition: 0.05s ease-in-out;
    border-radius: 5px;
    &:hover {
      transform: scale(1.2);
    }
    &:active {
      transform: scale(0.8);
    }
    img {
      width: 1.6em;
      transition: 1s ease-in-out, width height 0ms;
    }
    img.inverted {
      filter: invert(1);
    }
  }
}
