@use "../../sass/mixins" as m;

.optionsContainer {
  @include m.data-user-container;
  gap: 20px;

  .interRadioWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }

  .intraRadioWrapper {
    @include m.border;
    flex: 1;
    min-width: 150px;

    div:first-child {
      margin-bottom: 5%;
    }
    label {
      text-transform: capitalize;
    }
    input {
      font-size: inherit;
      width: 0.7em;
      height: 0.7em;
    }
  }

  .selectWrapper {
    display: flex;
    flex-direction: column;
  }

  & > input {
    margin-top: -20px;
    @include m.number-input;
    font-size: inherit;
  }

  select {
    font-size: 0.7em;
  }
}
